<template>
  <div ref="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li
          v-for="breadcrumb in breadcrumbs"
          :key="breadcrumb.key"
          class="breadcrumb-item"
          :class="{ active: breadcrumb.last }"
        >
          <a :href="breadcrumb.href" v-if="!breadcrumb.last">
            {{ breadcrumb.label }}
          </a>
          <span v-else>{{ breadcrumb.label }}</span>
        </li>
      </ol>
    </nav>

    <div class="filter" v-if="showFilterBar">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light no-padding">
          <ul class="navbar-nav menubar">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="nd-all-categories"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-bars"></i>
                All Categories
              </a>
              <div class="dropdown-menu multi-column padding no-border" aria-labelledby="nd-all-categories">
                <div class="text-sm">
                  <div class="categories highlight row separated">
                    <div
                      class="col"
                      v-for="category in categories"
                      :key="category.id"
                    >
                      <router-link
                        class="title"
                        :to="{
                          name: 'product-category',
                          params: {
                            name: category.slug
                          }
                        }"
                      >
                        {{ category.title }}
                      </router-link>
                      <ul class="nav flex-column" v-if="category.sub_categories && category.sub_categories.length">
                          <li
                            v-for="subCategory in category.sub_categories"
                            :key="subCategory.id"
                            class="nav-item"
                          >
                            <router-link
                              :to="{
                                name: 'product-category',
                                params: {
                                  name: subCategory.slug
                                }
                              }"
                              class="nav-link"
                            >
                              {{ subCategory.title }}
                            </router-link>
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown" v-if="hasSubCateogires">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="nd-sub-categories"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sub Categories
              </a>
              <div class="dropdown-menu no-border" aria-labelledby="nd-sub-categories">
                <router-link
                  v-for="subCategory in subCategories"
                  :key="subCategory.id"
                  :to="{
                    name: 'product-category',
                    params: {
                      name: subCategory.slug
                    }
                  }"
                  class="dropdown-item"
                >
                  {{ subCategory.title }}
                </router-link>
              </div>
            </li>

            <li
              v-for="filter in filters"
              v-if="hasFilter && (filter.input_type === 'string' || filter.input_type === 'number' || filter.input_type === 'number_range')"
              :key="filter.slug"
              class="nav-item dropdown position-reset"
            >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ filter.title }}
              </a>

              <div class="dropdown-menu no-border padding" data-prevent-close>
                <div class="form">
                  <component
                    :is="filterComponent(filter)"
                    :value="filterValue(filter)"
                    :parameters="filterParameters(filter)"
                    @change="onFilterInput(filter, $event)"
                  />
                </div>
              </div>
            </li>

            <!-- Filter Start Here -->
            <li class="nav-item dropdown position-reset">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Current (A)
              </a>
              <div class="dropdown-menu no-border padding multi-column" data-prevent-close>
                <div class="form-check form-check-inline">
                  <label>
                    <input type="checkbox" name="filter_current[]" value="0.5" />
                    0.5A
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label>
                    <input type="checkbox" name="filter_current[]" value="1" />
                    1.0A
                  </label>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown position-reset">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Flow Range
              </a>
            </li>
            <li class="nav-item dropdown position-reset">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Power (Hp)
              </a>
            </li>
            <li class="nav-item dropdown position-reset">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Phase
              </a>
            </li>
            <li class="nav-item dropdown position-reset">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Speed (Rpm)
              </a>
            </li>
            <!-- Filter End Here -->
          </ul>
        </nav>
      </div>
    </div>

    <section class="section">
      <div class="container">
        <h3 v-if="currentCategory">{{ currentCategory.title }}</h3>
        <h3 v-else>{{ defaultTitle }}</h3>

        <div v-if="!loading">
          <p v-if="currentCategory">{{ totalProducts | thousands }} results for <span class="text-theme">{{ currentCategory.title | lowercase }}</span></p>
          <p v-else>{{ totalProducts | thousands }} results found in products</p>
        </div>

        <div v-if="hasProducts" class="row product-list">
          <div
            v-for="product in products"
            :key="product.id"
            class="col-md-3"
          >
            <div class="card">
              <div class="image">
                <!-- Brand Image
                <img src="" />
                -->
                <a
                  v-if="product.main_image && product.main_image.public_url"
                  :href="'/products/' + product.slug"
                >
                  <img :src="product.main_image.public_url+'?conversion=1000px'" class="card-img-top" />
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a :href="'/products/' + product.slug">{{ product.title }}</a>
                </h5>
                <div class="card-text" v-if="product.model">
                  <span class="text-muted">Model: {{ product.model }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 text-center" v-if="hasMorePage">
          <button class="btn btn-outline-theme" @click="loadNextPage">
            Load More
          </button>
        </div>

        <div v-if="!totalProducts && !loading" class="text-muted">
          No products found.
        </div>

      </div>
    </section>
  </div>
</template>

<script>
import uuidv4 from 'uuid/v4'
import Text from '../components/form/Text'
import Number from '../components/form/Number'
import NumberRange from '../components/form/NumberRange'
import Vue from 'vue'

export default {
  name: 'ProductPage',
  props: {
    category: {
      type: String,
      default: ''
    },
    defaultTitle: {
      type: String,
      default: 'Products'
    }
  },
  components: {
    InputText: Text,
    NumberInput: Number,
    NumberRange: NumberRange
  },
  data () {
    return {
      categories: [],
      filters: [],
      filterData: {},
      keyword: '',
      products: [],
      pagination: {},
      loading: false,
      concatResult: false
    }
  },
  mounted () {
    // Initialize the route query.
    if (this.$route.query) {
      if (this.$route.query.keyword) {
        this.keyword = this.$route.query.keyword
      }

      for (let name in this.$route.query) {
        let matches = name.match(/^filters\[([^\]]+)\]/)

        if (matches) {
          let slug = matches[1]
          this.filterData[slug] = this.$route.query[name]
        }
      }
    }

    this.load(true)
  },
  methods: {
    load (initialLoad = false) {
      this.loading = true

      let params = {}
      let queries = {}

      if (initialLoad) {
        params['showFilter'] = true
        params['showCategories'] = true
      }

      if (this.pagination && this.pagination.current_page > 1) {
        params['page'] = this.pagination.current_page
      }

      if (this.category) {
        params['category'] = this.category
      }

      if (this.keyword) {
        params['keyword'] = this.keyword
        queries['keyword'] = this.keyword
      }

      // Filter data.
      if (Object.keys(this.filterData) && this.filterData.constructor === Object) {
        for (let name in this.filterData) {
          params['filters[' + name + ']'] = this.filterData[name]
          queries['filters[' + name + ']'] = this.filterData[name]
        }
      }

      // Push the history state.
      let queryString = ''

      if (Object.keys(queries)) {
        queryString = '?'

        for (let name in queries) {
          let queryValue = queries[name]

          queryString += name + '=' + encodeURIComponent(queryValue) + '&'
        }

        queryString = queryString.substr(0, queryString.length - 1)
      }

      window.history.pushState(null, '', this.$route.path + queryString)

      this.$axios.get('/api/products', {
        params: params
      }).then(response => {
        let data = response.data

        if (data.success) {
          if (data.categories) {
            this.categories = data.categories
          }

          if (data.data) {
            if (this.concatResult) {
              let products = data.data

              if (products && products.length) {
                for (let product of products) {
                  this.products.push(product)
                }
              }

              this.concatResult = false
            } else {
              this.products = data.data
            }
          }

          // Check filters.
          if (data.filters && Object.keys(data.filters).length) {
            let filters = []
            let mainAttributes = ['slug', 'title', 'input_type'];
            let maxFilters = 5
            let filterCount = 0

            for (let filterName in data.filters) {
              let filter = data.filters[filterName]

              if (filter.searchable) {
                let data = {}

                for (let name in filter) {
                  let value = filter[name]

                  if ($.inArray(name, mainAttributes) !== -1) {
                    if (name === 'input_type') {
                      value = String(value).toLowerCase()
                    }

                    data[name] = value
                  } else {
                    if (!data.parameters) {
                      data.parameters = {}
                    }

                    data.parameters[name] = value
                  }
                }

                filters.push(data)

                filterCount ++
              }

              if (filterCount >= maxFilters) {
                break
              }
            }

            this.filters = filters
          }

          if (data.meta) {
            let meta = data.meta

            if (data.links) {
              for (let name in data.links) {
                meta[name] = data.links[name]
              }
            }

            this.pagination = meta
          }
        }

        this.loading = false
      }).catch(error => {
        let response = error.response

        if (response && response.data) {
          let data = response.data

          if (data.message) {
            alert(data.message)
          } else {
            alert('Unable to load result from server.')
          }
        }

        this.loading = false
      })
    },
    loadNextPage () {
      if (this.pagination && this.pagination.current_page) {
        this.pagination.current_page += 1
      } else {
        this.pagination = {
          current_page: 1
        }
      }

      this.concatResult = true
      this.load()
    },
    filterComponent (filter) {
      let type = String(filter.input_type)

      switch (type) {
        case 'string':
          return 'InputText'
        case 'number':
          return 'NumberInput'
        case 'number_range':
          return 'NumberRange'
        case 'choice':
          return 'ChoiceInput'
        case 'date_range':
          return 'DateRange'
        default:
          // Upper case the first character.
          return type.charAt(0).toUpperCase() + type.slice(1)
      }
    },
    filterValue (filter) {
      let slug = filter.slug

      if (this.filterData[slug]) {
        let value = this.filterData[slug]

        switch (filter.input_type) {
          case 'number':
            return parseFloat(value)
          case 'number_range':
            if (value instanceof Object) {
              return value
            } else {
              if (value === null) {
                return []
              } else {
                let numbers = value.split(/\,/)

                for (let i in numbers) {
                  numbers[i] = parseFloat(numbers[i])
                }

                return numbers
              }
            }
          default:
            return value
        }
      } else {
        return null
      }
    },
    filterParameters (filter) {
      if (filter.parameters) {
        return filter.parameters
      } else {
        return null
      }
    },
    onFilterInput (filter, value) {
      Vue.set(this.filterData, filter.slug, value)

      // Reset the page to number 1.
      this.pagination.current_page = 1

      this.load()
    }
  },
  computed: {
    currentCategory () {
      if (this.category && this.categories.length) {
        for (let category of this.categories) {
          if (category.slug === this.category) {
            return category
          } else if (category.sub_categories && category.sub_categories.length) {
            for (let sub of category.sub_categories) {
              if (sub.slug === this.category) {
                let obj = $.extend({}, sub)
                let parent = $.extend({}, category)
                delete parent['sub_categories']

                obj['parent'] = parent

                return obj
              }
            }
          }
        }
      }

      return null
    },
    parentCategory () {
      if (this.currentCategory) {
        if (this.currentCategory.parent) {
          return this.currentCategory.parent
        } else {
          return this.currentCategory
        }
      } else {
        return null
      }
    },
    showFilterBar () {
      return (this.categories.length > 0 || this.filters.length > 0)
    },
    hasFilter () {
      // Temporarily hide the filter first.
      return false
      // return this.filters.length > 0
    },
    hasSubCateogires () {
      if (this.subCategories && this.subCategories.length) {
        return true
      } else {
        return false
      }
    },
    currentParentCategory () {
      if (this.currentCategory) {
        if (this.currentCategory.sub_categories) {
          return this.currentCategory
        } else if (this.currentCategory.parent_id) {
          for (let category of this.categories) {
            if (category.id === this.currentCategory.parent_id) {
              return category
            }
          }
        }
      }

      return null
    },
    subCategories () {
      if (this.currentParentCategory) {
        for (let category of this.categories) {
          if (category.id === this.currentParentCategory.id && category.sub_categories) {
            return category.sub_categories
          }
        }
      }

      return null
    },
    hasProducts () {
      return this.products.length > 0
    },
    totalProducts () {
      if (this.pagination.total) {
        return this.pagination.total
      } else {
        return 0
      }
    },
    hasMorePage () {
      if (this.nextPageUrl) {
        return true
      } else {
        return false
      }
    },
    nextPageUrl () {
      if (this.pagination && this.pagination.next) {
        return this.pagination.next
      } else {
        return ''
      }
    },
    breadcrumbs () {
      let breadcrumbs = [
        {
          label: 'Home',
          href: '/',
          key: uuidv4()
        },
        {
          label: 'Products',
          href: '/products',
          key: uuidv4()
        }
      ]

      if (this.currentCategory) {
        if (this.currentCategory.parent) {
          breadcrumbs.push({
            label: this.currentCategory.parent.title,
            href: '/products/category/' + this.currentCategory.parent.slug,
            key: uuidv4()
          })
        }

        breadcrumbs.push({
          label: this.currentCategory.title,
          href: '/products/category/' + this.currentCategory.slug,
          key: uuidv4()
        })
      }

      breadcrumbs[breadcrumbs.length - 1]['last'] = true

      return breadcrumbs
    }
  },
  watch: {
    category () {
      this.filterData = {}
      this.load(true)
    },
    loading (value) {
      if (value) {
        jquery(this.$refs.container).waitMe({
          effect: 'stretch',
          text: 'Loading result...'
        })
      } else {
        jquery(this.$refs.container).waitMe('hide')
      }
    }
  }
}
</script>
