<template>
  <input
    type="text"
    ref="element"
    v-model.lazy="text"
    v-debounce="delay"
    :placeholder="placeholder"
  />
</template>

<script>
import debounce from 'v-debounce'

export default {
  name: 'Number',
  props: {
    value: {
      type: Number,
      default: 0
    },
    placeholder: {
      type: String,
      default: 'Enter a number.'
    },
    parameters: {
      type: Object,
      default: null
    },
    delay: {
      type: Number,
      default: 500
    }
  },
  data () {
    return {
      text: ''
    }
  },
  directives: { debounce },
  mounted () {
    if (this.value) {
      this.text = this.value
    }
  },
  computed: {
    min () {
      if (this.parameters && this.parameters['min']) {
        return parseFloat(this.parameters['min'])
      } else {
        return null
      }
    },
    max () {
      if (this.parameters && this.parameters['max']) {
        return parseFloat(this.parameters['max'])
      } else {
        return null
      }
    }
  },
  watch: {
    text (value) {
      value = String(value)

      value = value.replace(/[^\d\.\-]/g, '')

      if (!value) {
        value = 0
      }

      value = parseFloat(value)

      if (this.min !== null && value < this.min) {
        value = this.min
      } else if (this.max !== null && value > this.max) {
        value = this.max
      }

      this.$refs.element.value = value

      this.$emit('change', value)
    }
  }
}
</script>
