<template>
  <div>
    <b>{{ min }}</b>
    <input
      ref="slider"
      data-slider-id='ex1Slider'
      type="text"
      :data-slider-min="min"
      :data-slider-max="max"
      :data-slider-step="1"
      :data-slider-value="sliderValue"
    />
    <b>{{ max }}</b>
  </div>
</template>

<script>
require('bootstrap-slider/dist/css/bootstrap-slider.min.css')
import Slider from 'bootstrap-slider'
// import uuidv4 from 'uuid/v4'

export default {
  name: 'NumberRange',
  props: {
    value: {
      type: Array,
      default: []
    },
    label: {
      type: String,
      default: 'Choose a number range.'
    },
    parameters: {
      type: Object,
      default: null
    },
    delay: {
      type: Number,
      default: 500
    }
  },
  data () {
    return {
      slider: null
    }
  },
  mounted () {
    this.slider = new Slider(this.$refs.slider, {})

    this.slider.on('slideStop', (value) => {
      this.$emit('change', value)
    })
  },
  computed: {
    min () {
      if (this.parameters && this.parameters.min) {
        return parseFloat(this.parameters.min)
      } else {
        return 0
      }
    },
    max () {
      if (this.parameters && this.parameters.max) {
        return parseFloat(this.parameters.max)
      } else {
        return 100
      }
    },
    sliderValue () {
      return '[' + this.min + ',' + Math.floor(this.max / 2) + ']'
    }
  },
  watch: {
    value (value) {
      if (this.slider) {
        this.slider.setValue(value)
      }
    }
  }
}
</script>

<style lang="scss">
.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
  .tooltip.tooltip-main {
    opacity: 0.7 !important;
  }
  .tooltip-inner {
    font-size: 90%;
    width: auto;
  }
}
</style>
