<template>
  <input type="text" v-model.lazy="text" v-debounce="delay" :placeholder="placeholder" />
</template>

<script>
import debounce from 'v-debounce'

export default {
  props: {
    value: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: 'Enter a text.'
    },
    delay: {
      type: Number,
      default: 500
    },
    parameters: {
      type: Object,
      default: null
    }
  },
  directives: { debounce },
  data () {
    return {
      text: ''
    }
  },
  mounted () {
    if (this.value) {
      this.text = this.value
    }
  },
  watch: {
    text (value) {
      this.$emit('input', value)
      this.$emit('change', value)
    }
  }
}
</script>
