<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
<script>
    let cookie='laravel_session=eyJpdiI6ImdyYnBhXC83TmVFTTRuK1F3b1lEcEd3PT0iLCJ2YWx1ZSI6IjlOT2xvcnF3TlBYaHp5K2FGM3JrSGQxTFhWcjgzSVo0cXRsY1VBdGUzNHJjeHVlSnJJUGhHRUd0a1k5SU12dXVwTkVpUXpnS0pnMVRjZHFnMGE5RThRPT0iLCJtYWMiOiJmOTI2NWJmY2M2MmU4ZGIzYTFmZjljMTg4MTNjNmMwZWE0ZGQ3YmM4OGFiOWVmMmM3OWRkMzUyZWZjMTczZjIwIn0%3D';
    let url='http://ohse-assessment.narutima.com/';

    // let ax=axios;
    //
    // ax.post(url+'auth/login', {
    //     username:'admin@narutima.com',
    //     withCredentials: true
    //
    // },{
    //
    // }).then(res => {
    //
    //
    // });
    //
    // ax.get(url+'auth/check',{
    //
    //     withCredentials: true,
    // })


    const agent = superagent.agent();

    agent
        .post(url+'auth/login')
        .send({
        username:'admin@narutima.com'
    }).end((err,res)=>{
        console.log(err);
        console.log(res);
    })

    agent
        .get(url+'auth/check')
        .withCredentials(true)
        .end((err,res)=>{
            console.log(err);
            console.log(res);
        })

    agent
        .get(url+'users')
        .withCredentials(true)
        .end((err,res)=>{
            console.log(err);
            console.log(res);
        })
</script>