// Body
$body-bg: #ffffff;

// Colours
$theme-red: #D81D18;
$theme-red-alt: #C41A15;

// Button styles.
$btn-padding-y: .15rem;
$btn-padding-x: 2rem;

$input-padding-x: 1rem;
$input-padding-y: 1.25rem;
$input-border-radius: 0px;

$nav-tabs-border-radius: 0px;
$list-group-border-radius: 0px;
$dropdown-border-radius: 0px;

$modal-inner-padding: 3rem 2rem;

// Fonts
$font-family-sans-serif: "Open Sans", sans-serif;
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;

// Font Awesome Path.
$fa-font-path: "webfonts";

$border-radius-lg: 0px;
