// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Fontawesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./preview.scss";
@import "./inquiry.scss";

.main {
  img {
    max-width: 100%;
  }

  .header {
    background-repeat: no-repeat;
    background-size: cover;

    &.default {
      background-image: url('../images/bg-1.jpg');
    }

    &.home {
      background-image: url('../images/bg-home.jpg');
    }

    &.product {
      background-image: url('../images/bg-product.jpg');
    }

    .navbar-brand {
      padding: 0px;
      margin-top: -1rem;
      margin-bottom: -1rem;

      .logo {
        max-height: 40px;
      }
    }

    .inner {
      padding: 10px 1.5rem;
      background-color: #fff;

      .top-menu {
        li {
          a {
            color: #4d4d4d;
            text-transform: uppercase;
            font-size: 12px;

            &:hover {
              color: #8F8F8F;
            }
          }
        }
      }
    }

    .center {
      .captions {
        color: #fff;
        padding: 5rem 0px;

        &.gutter-lg {
          padding: 8rem 0px;
        }

        .big {
          font-weight: bold;
          font-size: 28px;
          text-transform: uppercase;
        }
      }
    }
  }

  .categories {
    flex-wrap: nowrap;
    overflow: auto;
    max-width: map-get($grid-breakpoints, xl) - 100;

    .nav {
      li a {
        padding-left: 0px;
      }
    }

    &.separated {
      & > .col {
        border-right: 1px solid $gray-300;

        &:last-child {
          border-right: 0px;
        }

        @media (max-width: map-get($grid-breakpoints, md) - 1) {
          border: 0px;
        }
      }
    }

    &.highlight {
      color: $gray-600;

      .title, .title > a {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      a {
        color: $gray-600;
        font-weight: normal;

        &:hover {
          color: $gray-500;
        }
      }
    }
  }

  .attributes {
    & > .row {
      & > * {
        padding: .5rem 1rem;
      }

      &:nth-child(odd) {
        background-color: #eee;
      }
    }
  }

  .filter {
    border-bottom: 2px solid $gray-800;

    .navbar-nav {
      width: 100%;

      & > .nav-item {
        padding: 10px 15px;
        /* flex-grow: 1; */
        /* position: inherit; */

        a {
          color: $body-color;

          &:hover {
            color: $gray-600;
          }
        }

        .dropdown-item {
          color: $body-color;
          font-weight: normal;
          font-size: 14px;

          &:hover {
            color: $gray-600;
            background: transparent;
          }
        }

        .dropdown-menu {
          border: 1px solid #eee;
        }

        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  .intro-path {
    .icon {
      display: block;
      width: 80px;
      height: 80px;
      background-color: #fff;
      color: $theme-red;
      border-radius: 40px;
      text-align: center;
      line-height: 80px;
      font-size: 30px;
      margin: 0px auto;
      box-shadow: 2px 2px 10px #666;
      position: relative;

      .number {
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 12.5px;
        background-color: $theme-red;
        color: #fff;
        font-size: 12px;
        line-height: 25px;
        top: -5px;
        right: -10px;
      }
    }

    .name {
      text-align: center;
      margin-top: 1rem;
      color: $gray-600;
      font-weight: bold;
    }

    &.row > .col-md-auto {
      padding: 0px 25px;

      @media (max-width: 767px) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .bottom {
    background-color: #343434;
    padding: 3rem 0px 2rem 0px;
    color: #fff;
    font-size: 13px;

    a {
      color: #fff;
    }

    .social-icons {
      .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        line-height: 50px;
        border: 2px solid #fff;
        margin-right: 8px;
        font-size: 16px;
        transition: all .3s;

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          background-color: #fff;
          color: #343434;
        }
      }
    }

    .bottom-menu {
      li.nav-item {
        border-right: 1px solid $gray-500;

        & > a {
          padding: 0px 1rem;

          &:hover {
            color: $gray-600;
          }
        }

        &:last-child {
          border-right: 0px;
        }
      }
    }

    .footer {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #505050;
    }
  }

  /* All page section styles here */
  .section {
    padding: 5rem 0px;

    &.main {
      background-image: url('../images/bg-box-texture.jpg');
    }

    &.light {
      background-color: #eee;
    }
  }

  .product-list {
    .card {
      margin-bottom: 2rem;

      .card-title {
        font-size: 16px;
        text-align: center;
      }

      .image {
        padding: 1rem;
      }

      .card-text {
        text-align: center;
      }
    }
  }

  .product-detail {
    .text {
      font-size: 14px;
    }

    .tab-content {
      .tab-pane {
        padding: 1rem;
      }

      .actions {
        margin: 15px -15px 0px -15px;
      }
    }

    .shares {
      .heading {
        color: $gray-500;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 2px solid $gray-500;
        color: $gray-500;
        text-align: center;
        line-height: 50px;
        transition: all .3s;
        margin-right: 5px;

        &:hover {
          border: 2px solid $gray-600;
          color: $gray-600;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .accordion-toggle {
    display: block;

    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\F077";
      float: right;
      transition: all .5s;
    }

    &.active:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.menubar {
  .dropdown-menu {
    left: auto;

    &.multi-column {
      left: 0px;
      min-width: map-get($container-max-widths, xl);

      @media (max-width: map-get($grid-breakpoints, xl) - 1) {
        min-width: map-get($grid-breakpoints, lg);
      }

      @media (max-width: map-get($grid-breakpoints, lg) - 1) {
        min-width: map-get($grid-breakpoints, md);
      }

      @media (max-width: map-get($grid-breakpoints, md) - 1) {
        min-width: map-get($grid-breakpoints, sm);
      }

      @media (max-width: map-get($grid-breakpoints, sm) - 1) {
        min-width: initial;
      }
    }
  }
}

.auth-box {
  .top {
    font-weight: bold;

    .active {
      color: $theme-red;
      text-decoration: underline;

      &:hover {
        color: $theme-red;
        text-decoration: underline;
      }
    }

    a {
      color: $gray-600;

      &:hover {
        color: $gray-500;
        text-decoration: none;
      }
    }
  }
}

.dropdown-menu.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity .5s;

  &.active {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

/* Shared Styles */
.nav-tabs.theme {
  & > li.nav-item > a.nav-link {
    &.active {
      border-top: 2px solid $theme-red;
    }
  }
}

.inquiry-company {
  .row.heading {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .items {
    .row {
      & > * {
        padding: .25rem 15px;
      }

      &:nth-child(odd) {
        & > * {
          background-color: #eee;
        }
      }

      @media (max-width: map-get($grid-breakpoints, md) - 1) {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0px;
        }

        label {
          margin-bottom: 0px;
        }
      }

      &.premium {
        & > * {
          background-color: #f9f8e5;

          .icon {
            color: #ffdb5b;
          }
        }
      }
    }
  }
}

.text-theme {
  color: $theme-red;
}

.text-gray {
  color: $gray-600;
}

.text-upper {
  text-transform: uppercase;;
}

.text-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 14px;
}

.position-reset {
  position: inherit;
}

.prewrap-content {
  white-space: pre-wrap;
}

.full-width {
  width: 100%;
}

.link {
  cursor: pointer;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.no-border {
  border: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-side {
  padding-left: 1.5rem;
}

.padding {
  padding: 1rem 1.5rem;
}

.faded-container {
  position: relative;
  -webkit-mask: -webkit-gradient(linear, center top, center bottom, color-stop(0.00, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.50, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(1.00, rgba(0, 0, 0, 0)));
}

.btn {
  &.relaxed {
    padding: 1rem;
  }

  &.relaxed-sm {
    padding: .5rem;
  }

  &.btn-theme {
    background-color: $theme-red;
    border-color: $theme-red;
    color: #fff !important;

    &:hover {
      background-color: $theme-red-alt;
      border-color: $theme-red-alt;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(196, 26, 21, .6);
    }
  }

  &.btn-outline-theme {
    background-color: transparent;
    border-color: $theme-red;
    color: $theme-red;

    &:hover {
      background-color: $theme-red;
      color: #fff;
    }
  }

  &.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }

  &.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }

  &.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }
}

/* This will hide the content of any Vue component until it's fully loaded. */
[v-cloak] {
  display: flex;
  align-items: center;
  min-height: 350px;
  text-indent: -9999px;
  overflow: hidden;

  & > * {
    display: none;
  }

  &::before {
      content: " ";
      display: block;
      width: 16px;
      height: 16px;
      margin: 0px auto;
      background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.hider {
  display: inline-block;
  position: relative;

  &::before {
    content: "Open";
    color: #fff;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #333;
    right: 0px;
    transition: width .3s;
  }

  &.unhide {
    &::before {
      width: 0%;
      content: "";
    }
  }
}
