.inquiry-conversation {
  .lists {
    height: 445px;
    overflow: auto;
    
    .item {
      display: flex;
      color: $gray-800;

      .image {
        width: 100px;
        height: 100px;
        clip-path: circle(40px at center);

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .content {
        padding: 1rem;
        border-bottom: 1px solid $gray-200;
        flex-grow: 1;
        position: relative;

        .title {
          font-size: 14px;
        }

        .sub-title {
          font-size: 12px;
          margin-bottom: 1rem;
        }

        .meta {
          font-size: 12px;
          color: $gray-600;
          position: absolute;
          right: 1rem;
          bottom: .5rem;
        }
      }

      &.active {
        background-color: $gray-200;

        .title {
          font-weight: bold;
        }
      }

      &:last-child {
        .content {
          border-bottom: 0px;
        }
      }

      &:hover {
        background-color: $gray-100;
        text-decoration: none;
      }
    }
  }

  .conversation {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
    min-height: 350px;
    padding: 0px 1rem;
    margin: 0px -1rem;
    height: 400px;
    overflow: auto;

    .message {
      margin-bottom: 1rem;
      width: 65%;

      .sender {
        font-weight: bold;
        margin-bottom: .3rem;
      }

      .item {
        padding: .75rem;
        background-color: $gray-200;
        position: relative;
        margin-bottom: 3px;

        .meta {
          position: absolute;
          right: .75rem;
          bottom: .5rem;
          color: $gray-500;
        }

        .text {
          margin-bottom: 1rem;
        }
      }

      &.outgoing {
        align-self: flex-end;

        .sender {
          text-align: right;
        }

        .item {
          background-color: $teal;
          color: #fff;

          .meta {
            color: #fff;
            opacity: .6;
          }
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, md) - 1) {
      border-right: 0px;
      border-left: 0px;
    }
  }

  .message-box {
    margin: 0px -1rem;
    padding: .3rem;
    background-color: $gray-100;
    display: flex;

    textarea {
      width: 100%;
      height: 35px;
      border: 0px;
      background: transparent;
      resize: none;
      overflow: hidden;

      &:focus {
        outline: none;
      }
    }

    .button {
      margin: -.3rem;
      border: 0px;
      cursor: pointer;
      padding: 0px 1rem;
    }

    @media (max-width: map-get($grid-breakpoints, md) - 1) {
      margin: 0px;
    }
  }
}
