.preview {

  .preview-pic {
    flex-grow: 1;
    border: 1px solid #eee;

    &.tab-content {
      overflow: hidden;

      img {
        width: 100%;
        animation-name: opacity;
        animation-duration: .3s;
      }
    }
  }

  .preview-thumbnail {
    flex: 1;
    display: flex;
    overflow: auto;
    margin: 1rem 0px;

    & > .nav-tabs {
      border: none;
      flex-wrap: nowrap;

      li {
        width: 25%;
        flex: 25% 0 0;
        margin-right: 2.5%;

        img {
          max-width: 100%;
          display: block;
        }

        a {
          padding: 0px;
          margin: 0px;
          display: block;
          padding: .5rem;
          border: 1px solid #eee;

          &:hover {
            border: 1px solid #aaa;
          }
        }

        &.active {
          a {
            border: 1px solid #aaa;
          }
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
